:root{
    --colorFundoHader:rgb(173, 68, 68);
    --colorNomeDoSite: rgb(255, 255, 255);
    --colorLinksLetras: rgb(0,0,0);
    --colorFundoLinks:rgb(18, 138, 44);
    --colorBordaLinks: rgb(0, 49, 4);
}
@keyframes BotaoPassarMouse {
    0%,20%,60%,100%{
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    40%{
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    80%{
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}
#Wrap header{
    position: absolute;
    width: 1214.090px;
    height: 80px;
    top: 10px;
    background: var(--colorFundoHader);
    left: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    font-family: Consolas;
}
#Wrap header .NameSite{
    float: left;
    height: 80px;
    margin: 0;
    color: var(--colorNomeDoSite);
    bottom: -50px;
    font-size: 60px;
    cursor: default;
    line-height: 70px;
}
#Wrap header ul{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
}
#Wrap header ul li{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
#Wrap header ul li a{
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--colorLinks);
    cursor: pointer;
    line-height: 76px;
    background: var(--colorFundoLinks);
    width: 120px;
    margin: 0 10px 0 10px;
    text-align: center;
    font-size: 20px;
    border: 2px solid var(--colorBordaLinks);
    font-family: Cooper Black;
}
#Wrap header ul li a:hover{
    animation: BotaoPassarMouse 0.5s;
}
#Wrap header .ImgMenu{
position: absolute;
right: 0;
height: 100%;
border-radius: 0 20px 20px 0;
}