:root{
    --color-label: rgb(255,255,255);
    --color-botaofechar: rgb(255, 0, 0);
}
body{
    background: url("../Img/fundoDoFundoDoLogin.jpg");
    background-size: 100%;
}
.container2{
    top: 150px;
    background: url("../Img/fundoDoLogin.jpg");
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 300px;
    width: 500px;
    text-align: center;
}
.container2 *{
    display: block;
   position: relative;
   top: 20%;
   left: 50%;
   transform: translateX(-50%);
}
.container2 label {
    color: var(--color-label);
}
.container2 input {
    width: 70%;
    height: 40px;
}
.container2 input::placeholder{
    text-align: center;
}
.container2 .botaoEnviar{
    width: 60px;
    height: 40px;
    cursor: pointer;
    margin-top: 20px;
}
.container2 .botaoFechar{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(1%);
    background-color: var(--color-backgroundLogar);
    color: var(--color-botaofechar);
    border: none;
    font-size: 30px;
    cursor: pointer;
    background: none;
}